KeyboardTrainer/.vs
KeyboardTrainer/KeyboardTrainer/obj
.vs
KeyboardTrainer/bin
KeyboardTrainer/obj
Parsing/obj
TypingTrainingTests/bin
TypingTrainingTests/obj
Parsing/bin
ParsingConsoleUI/bin
ParsingConsoleUI/obj
GodotTypingTrainingUI/.import
.mono
GodotTypingTrainingUI/.mono
DataAccess/bin
DataAccess/obj
DataAccessTests/bin
DataAccessTests/obj
.import/
export.cfg
export_presets.cfg
*.translation
.mono/
data_*/
GodotTypingTrainingUI/.import/
GodotTypingTrainingUI/export.cfg
GodotTypingTrainingUI/export_presets.cfg
GodotTypingTrainingUI/*.translation
GodotTypingTrainingUI/.mono/
GodotTypingTrainingUI/data_*/
GodotTypingTrainingUI/*.translation