KeyboardTrainer/.vs
KeyboardTrainer/KeyboardTrainer/obj
.vs
KeyboardTrainer/bin
KeyboardTrainer/obj
Parsing/obj
TypingTrainingTests/bin
TypingTrainingTests/obj
Parsing/bin
ParsingConsoleUI/bin
ParsingConsoleUI/obj
GodotTypingTrainingUI/.import
.mono
DataAccess/bin
DataAccess/obj
DataAccessTests/bin
DataAccessTests/obj
